$namespace: pam;

.form-inline {
    padding-top: 30px;
    padding-bottom: 30px;
}

@keyframes reticle {
  0% {
    box-shadow: inset 0px 0px 2px 2px rgba(240,12,12,1);
    outline: 2px solid rgba(255,255,0,1);
  }

  50% {
    box-shadow: inset 0px 0px 2px 3px rgba(0,255,0,1);
    outline: 3px solid rgba(0,0,255,1);
  }

  100% {
    box-shadow: inset 0px 0px 2px 2px rgba(255,255,0,1);
    outline: 2px solid rgba(240,12,12,1);
  }
}

input[type="color"] {
  opacity: 100;
  display: block;
  width: 64px;
  height: 40px;
  border: solid;
  padding-bottom: -10px
}

#pam-size-picker {
  padding-top: 15px;
  padding-top: 15px;
}

body {padding-top: 90px;}

table,
tr,
td {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid #4DB6AC;
}

tr {height: 20px;}

td {
  width: 20px;
  height: 20px;
  @extend %cursor---pointer;
  background-color: #FFF;
  &:hover {@extend %reticle;}
}


